*{
  margin: 0;
  padding: 0;
}
.navbar{
  position: sticky;
  top: 0;
  z-index: 100;
  background: #fff;
}
.navbar-brand img{
  height:40px;
  padding-left: 30px;
}
.navbar-nav li{
  padding: 0 10px;

}
.navbar-nav li a{
  float: right;
  text-align: center;
}
.navbar-nav li a:hover{
  color: #0076ff !important;
}
.navbar-toggler{
  border: none!important;
}

.nav-link{
  color: #55!important;
  font-weight: 600;
  font-size: 16px;
}
